body {
  font-family: 'Didact Gothic', sans-serif;
  color: black;
  background: url('../images/geometry2.png');
}
hr {
  margin: 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Didact Gothic', sans-serif !important;
}
textarea {
  resize: none;
}
.head_nav {
  position: absolute;
  height: 75px;
  background: #333333;
  color: white;
  left: 0;
  right: 0;
  font-size: 20px;
}
.head_nav .wrapper {
  width: 95%;
  max-width: 1400px;
  position: relative;
  margin: auto;
}
.head_nav .wrapper img {
  height: 65px;
  width: auto;
  margin-top: 5px;
}
.head_nav .wrapper ul {
  list-style: none;
  position: absolute;
  top: 0px;
  right: 1px;
  line-height: 75px;
}
.head_nav .wrapper ul li {
  display: inline-block;
  margin-left: 20px;
  height: 75px;
}
.head_nav .wrapper ul .logoff {
  background: #4d4d4d;
  width: 50px;
  text-align: center;
}
.head_nav .wrapper ul .logoff:hover {
  background: #4364db;
}
.content {
  padding-top: 110px;
  padding-bottom: 20px;
}
.content .wrapper {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}
.login_form {
  max-width: 600px;
  margin: auto;
}
.ticket {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 1px;
  padding: 15px;
  position: relative;
  color: #333333;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 0.85;
}
.ticket .ticket_title {
  font-weight: bold;
}
.ticket .ticket_title span {
  position: absolute;
  right: 15px;
}
.ticket .ticket-btns {
  display: block;
  float: right;
}
.ticket .ticket-btns a {
  margin-left: 10px;
  background: #80b3ff;
  height: 30px !important;
  width: 35px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #999999;
  color: #005ce6;
  opacity: 0.85;
  display: inline-block;
}
.ticket .ticket-btns a:hover {
  opacity: 1;
}
.ticket:hover {
  opacity: 1;
}
.menu a,
.menu button {
  width: 100%;
  background: white;
  display: block;
  min-height: 30px;
  line-height: 30px;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 1px;
  opacity: 0.8;
  color: black;
  padding: 7px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: left;
  text-decoration: none;
}
.menu a:hover,
.menu button:hover {
  opacity: 1;
}
.menu i {
  width: 20px;
  color: #3399ff;
}
.add_form {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none;
}
.add_form .form_div {
  margin-top: 75px !important;
  width: 95%;
  max-width: 800px;
  height: auto;
  padding: 40px;
  background-color: white;
  margin: auto;
  border-radius: 2px;
  position: relative;
}
.add_form .form_div button {
  -webkit-appearance: none;
  background: #80b3ff;
  width: 100%;
  color: white;
  height: 20px !important;
  border-radius: 0px 0px 2px 2px;
  margin-bottom: 15px;
}
.add_form .form_div .cancel_btn {
  top: 10px;
  right: 10px;
  border: 1px solid #77c0f4;
  height: 40px;
  border-radius: 2px;
  color: #77c0f4;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.add_form .form_div .cancel_btn:hover {
  background-color: #d5ecfc;
}
.clickable {
  cursor: pointer;
}
