body {
  font-family: 'Didact Gothic', sans-serif;
  color: black;
}
hr {
  margin: 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Didact Gothic', sans-serif !important;
}
textarea {
  resize: none;
}
.head_nav {
  position: absolute;
  height: 100px;
  background: #4364db;
  color: white;
  left: 0;
  right: 0;
  font-size: 20px;
}
.head_nav .wrapper {
  width: 95%;
  max-width: 1400px;
  position: relative;
  margin: auto;
}
.head_nav .wrapper img {
  height: 90px;
  width: auto;
  margin-top: 5px;
}
.head_nav .wrapper ul {
  list-style: none;
  position: absolute;
  top: 0px;
  right: 1px;
  line-height: 100px;
}
.head_nav .wrapper ul li {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
}
.content {
  padding-top: 120px;
  padding-bottom: 20px;
}
.content .wrapper {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}
.ticket {
  width: 100%;
  border: 1px solid #56a9dd;
  border-radius: 2px;
  padding: 5px;
  position: relative;
  color: #262626;
  overflow: hidden;
  margin-bottom: 20px;
}
.ticket .ticket_title {
  font-weight: bold;
}
.ticket .ticket_title span {
  position: absolute;
  right: 5px;
}
.ticket .ticket-btns {
  display: block;
  float: right;
}
.ticket .ticket-btns button {
  margin-left: 10px;
}
.menu p {
  width: 100%;
  display: block;
  min-height: 30px;
  line-height: 30px;
  background: #3f65c6;
  opacity: 0.8;
  color: white;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}
.menu p:hover {
  opacity: 1;
}
.add_form {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none;
}
.add_form .form_div {
  margin-top: 75px !important;
  width: 95%;
  max-width: 800px;
  height: auto;
  padding: 40px;
  background-color: white;
  margin: auto;
  border-radius: 2px;
}
