@width: 	95%;
@max-width: 1400px;
@bl1:		#77c0f4;
@bl2:		#56a9dd;
@bl3:		#4364db;
@bl4:		#3f65c6;
@bl5:		#427daf;
@black:		#333333;


body {
	font-family: 'Didact Gothic', sans-serif;
	color: black;
	background: url('../images/geometry2.png');
}

hr {
	margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Didact Gothic', sans-serif !important;
}

textarea {
    resize: none;
}

.head_nav {
	position: absolute;
	height: 75px;
	background: @black;
	color: white;
	left: 0;
	right: 0;
	font-size: 20px;

	.wrapper {
		width: @width;
		max-width: @max-width;
		position: relative;
		margin: auto;

		img {
			height: 65px;
			width: auto;
			margin-top: 5px;
		}

		ul {
			list-style: none;
			position: absolute;
			top: 0px;
			right: 1px;
			line-height: 75px;

			li {
				display: inline-block;
				margin-left: 20px;
				height: 75px;
			}

			.logoff {
				background: lighten(@black, 10%);
				width: 50px;
				text-align: center;

				&:hover {
					background: @bl3;
				}
			}
		}
	}
}

.content {
	padding-top: 110px;
	padding-bottom: 20px;

	.wrapper {
		width: @width;
		max-width: @max-width;
		margin: auto;
	}
}

.login_form {
	max-width: 600px;
	width: @width;
	padding: 30px;
	background: white;
	box-shadow: 0px 0px 10px #ccc;
	margin: auto;

	button,
	.cancel_btn {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}
}

.ticket {
	width: 100%;
	background-color: white;
	box-shadow: 0px 0px 10px #ccc;
	border-radius: 1px;
	padding: 15px;
	position: relative;
	color: @black;
	overflow: hidden;
	margin-bottom: 20px;
	opacity: 0.85;
	cursor: pointer;

	.ticket_title {
		font-weight: bold;

		span {
			position: absolute;
			right: 15px;
		}
	}

	.ticket-btns {
		display: block;
		float: right;

		a {
			margin-left: 10px;
			background: #80b3ff;
			height: 30px !important;
			width: 35px;
			line-height: 30px;
			text-align: center;
			border-radius: 2px;
			box-shadow: 0px 0px 10px lighten(@black, 40%);
			color: #005ce6;
			opacity: 0.85;
			display: inline-block;

			&:hover {
				opacity: 1;
			}
		}
	}

	.ticket_content {
		display: none;
	}

	&:hover {
		opacity: 1;
	}
}

.menu {
	a,
	button {
		width: 100%;
		background: white;
		display: block;
		min-height: 30px;
		line-height: 30px;
		//background: @bl4;
		box-shadow: 0px 0px 10px #ccc;
		border-radius: 1px;
		opacity: 0.8;
		color: black;
		padding: 7px;
		border-radius: 2px;
		cursor: pointer;
		margin-bottom: 20px;
		text-align: left;
		text-decoration: none;

		&:hover {
			opacity: 1;
		}
	}

	i {
		width: 20px;
		color: #3399ff;
	}
}

.add_form {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
	display: none;

	.form_div {
		margin-top: 75px !important;
		width: @width;
		max-width: 800px;
		height: auto;
		padding: 40px;
		background-color: white;
		margin: auto;
		border-radius: 2px;
		position: relative;

		button {
			-webkit-appearance: none;
			background: #80b3ff;
			width: 100%;
			color: white;
			height: 20px !important;
			border-radius: 0px 0px 2px 2px;
			margin-bottom: 15px;
			//box-shadow: 0px 0px 10px #ccc;
		}

		.cancel_btn {
			top: 10px;
			right: 10px;
			border: 1px solid @bl1;
			height: 40px;
			border-radius: 2px;
			color: @bl1;
			line-height: 40px;
			text-align: center;
			cursor: pointer;

			&:hover {
				background-color: lighten(@bl1, 20%);
			}
		}
	}
}

.clickable {
	cursor: pointer;
}